.sidebar-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.head {
  margin: 0;
  margin-bottom: 0.5em;
}

.side-bar {
  width: 20%;
  padding: 10px;
  font-size: 1.1em;
  border: 2px solid black;
  background-color: white;
}

.side-bar p {
  margin: 0.3em;
  padding: 0.5em;
  margin-top: 0;
  cursor: pointer;
}

.side-bar p:hover {
  background-color: rgb(199, 196, 196);
  border-radius: 3px;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ee8cc2;
  display: flex;
}

li {
  margin-left: auto;
}

li a {
  color: white;
  padding: 13px 19px;
  text-decoration: none;
  font-size: 1.5em;
  float: right;
}

li a:hover {
  background-color: rgb(150, 74, 127);
}

.labele {
  float: left;
  color: rgb(150, 74, 127);
  padding-left: 70px;
  font-size: 3em;
  font-style: oblique;
}

.label {
  float: left;
  color: white;
  font-size: 2em;
  font-style: oblique;
  margin: 5px;
}

.search {
  padding: 2px 10px;
  margin: 5px 0 5px 100px;
  font-size: x-large;
  font-style: italic;
  color: #111;
  width: 600px;
  border-radius: 25px;
  outline: 0;
  border: 0;
}

.nav button {
  background-color: inherit;
  border: none;
  margin: auto;
  padding: 0;
}

.nav div {
  height: 10px;
  background-color: white;
  border-radius: 25px;
  transition: 0.3s;
  margin: 3px 0;
}

.nav {
  width: 30px;
  margin-left: 18px;
}

.one {
  width: 30px;
}

.two {
  width: 20px;
}

.three {
  width: 25px;
}

.nav:hover div {
  width: 30px;
}

.dropdown-content a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
  font-size: 12px;
  z-index: 1;
  display: none;
  top: 72px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  float: left;
  width: 200px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.products {
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
}

.btn {
  background-color: #f27dbe;
  cursor: pointer;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  padding: 12px 0;
  text-align: center;
  width: 100%;
}

.btn:hover {
  color: #fff;
  background-color: #e03997;
}

.product{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  width: 350px;
  margin: auto;
  text-align: center;
}

.product img{
  width: 100%;
  height: 200px;
}

.product p, .product h3{
  padding: 0px;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

#no-products-found{
  margin: auto;
  text-align: center;
  justify-content: center;
  display: none;
}

#no-products-found img{
  width: 10%;
  height: 10%;
  display: block;
  margin: 0 auto 20px auto;
}

#to-cart {
  display: none;
}