
body {
  font-family: 'open sans';
  overflow-x: hidden; }

img {
  max-width: 100%;
  width: 200px;
  height:500px;
  margin-top: 20px; 
  }
  

 
.sidebar-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.head {
  margin: 0;
  margin-bottom: 0.5em;
}

.side-bar {
  width: 20%;
  padding: 10px;
  font-size: 1.1em;
  border: 2px solid black;
  background-color: white;
}

.side-bar p {
  margin: 0.3em;
  padding: 0.5em;
  margin-top: 0;
}

.side-bar p:hover {
  background-color: rgb(199, 196, 196);
  border-radius: 3px;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ee8cc2;
  display: flex;
  padding-bottom: 7px;
}

li {
  margin-left: auto;
}

li a {
  color: white;
  padding: 13px 19px;
  text-decoration: none;
  font-size: 1.5em;
  float: right;
  padding-top: 20px;
}

li a:hover {
  background-color: rgb(150, 74, 127);

}

.labele {
  float: left;
  color:rgb(150, 74, 127);
  padding-left: 70px;
  padding-top: 11px;
  font-size: 3em;
  font-style:oblique;
}

.label{
  float: left;
  color: white;
  padding-top: 21px;
  font-size: 2em;
  font-style:oblique;
}

.search {
  padding: 2px 26px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 350px;
  font-size: x-large;
  font-style: italic;
  color: #111;
  width: 500px;
}

.nav button {
  background-color: inherit;
  border: none;
}

.nav div {
  height: 10px;
  background-color: white;
  border-radius: 25px;
  transition: 0.3s;
  margin: 3px 0;
}

.nav {
  width: 30px;
  margin-top: 7px;
  margin-left: 18px;
  padding-top: 10px;
}

.one {
  width: 30px;
}

.two {
  width: 20px;
}

.three {
  width: 25px;
}

.nav:hover div {
  width: 30px;
}

#profile {
  display: none;
}

.card {
  margin-top: 25px;
  margin-left: 25px ;
  margin-right: 25px;
  
  background: #f6e5ef;
  padding: 3em;
  line-height: 1.5em; 
}

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
   flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
   max-width: 100%;
   display: block; }
.preview-thumbnail.nav-tabs li a {
   padding: 0;
   margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
   margin-right: 0; }

.tab-content {
  overflow: hidden; }
.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }


@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 50px;  
 }

.product-title, .price, .quantity,.category,.seller,.product-description {
  text-transform: UPPERCASE;
  font-weight: bold;
  font-size: larger; }

.checked , .price span,.category span,.seller span,.quantity span {
  color:rgba(214, 15, 171, 0.8); }

.product-description span{
    font-size: medium;
}
.product-title, .rating, .price, .vote,.quantity,.category,.seller,.product-description {
  margin-bottom: 2px; }

.product-title {
  margin-top: 0; }

.add-to-cart, .like {
  background: #f59dcd;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  margin-top: 35px;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; 
        }
.add-to-cart:hover, .like:hover {
    background: rgba(214, 15, 171, 0.8);;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

