<body>
    <div class="main">
        <div class="container">
            <div class="signin-content">
                <div class="signin-form">
                    <h2 class="form-title">Log In</h2>
                    <form class="login-form" id="login-form" ngNativeValidate>
                        <div class="form-group">
                            <label for="your_email"></label>
                            <input type="email" class="email-icon" name="your_email" id="your_email"
                                placeholder="Enter Your Email" required />
                        </div>
                        <div class="form-group">
                            <label for="your_pass"></label>
                            <input type="password" class="pass-icon" name="your_pass" id="your_pass" minlength="8"
                                placeholder="Enter Your Password" required />
                        </div>
                        <button class="form-submit" type="submit" (click)="submit()"> Log In</button>
                        <p>Do not have an account?<a href="register"> Register</a></p>
                    </form>
                </div>
                <div class="signin-image">
                    <figure> <img src="/assets/login.jpg"></figure>
                </div>
            </div>
        </div>
        <div id="alert" class="alert simple-alert">
            <h3>wrong password or email if you have an account and if you do not have an account, so register</h3>
            <a class="close" (click)="endAlert()">&times;</a>
        </div>
    </div>
</body>