<!--
<body>
    <div class="super">
        <form ngNativeValidate class="login-form">
            <legend class="title">Log In</legend>
            <label for="your_email" class="l">Email</label>
            <input v-model="your_email" type="email" class="email-icon" id="your_email" 
                name="your_email" placeholder=" user@system.com" required>
                <br>
            <label class="l" for="password">Password</label>
            <input v-model="password" type="password" class="pass-icon" id="password"
                placeholder="Your password" required>
            
            <button class="form-submit cr" type="submit" (click)="logIn()">Sign In</button>
        </form>
        <div class="signin-image">
            <img src="/assets/login.jpg">
        </div>
    </div>
</body>
-->

<body>
    <div class="main">
        <div class="container">
            <div class="signin-content">
                <div class="signin-form">
                    <h2 class="form-title">Log In</h2>
                    <form class="login-form" id="login-form" ngNativeValidate>
                        <div class="form-group">
                            <label for="your_email"></label>
                            <input type="email" class="email-icon" name="your_email" id="your_email"
                                placeholder="Enter Your Email" required />
                        </div>
                        <div class="form-group">
                            <label for="your_pass"></label>
                            <input type="password" class="pass-icon" name="your_pass" id="your_pass" minlength="8"
                                placeholder="Enter Your Password" required />
                        </div>
                        <button class="form-submit" type="submit" (click)="logIn()"> Log In</button>
                        <p>Do not have an account?<a href="register"> Register</a></p>
                    </form>
                </div>
                <div class="signin-image">
                    <figure> <img src="/assets/login.jpg"></figure>
                </div>
            </div>
        </div>
    </div>
</body>
