<body>
    <div class="super">
        <form ngNativeValidate id="register-form">
            <legend class="title">Register</legend>
            <br>
            <label for="fname" class="l">First Name</label>
            <input v-model="fname" type="text" id="fname" name="fname" required>
            <br>
            <label for="lname" class="l">Last Name</label>
            <input v-model="lname" type="text" id="lname" name="lname" required>
            <br>
            <label for="address" class="l">Email</label>
            <input v-model="address" type="email" class="email-icon" id="address" name="address"
                placeholder=" user@system.com" required>
            <br>
            <label class="l" for="password">Password</label>
            <input v-model="password" type="password" class="pass-icon" id="password"
                placeholder="Should be 8 characters or more" minlength="8" required>
            <br>
            <label class="l" for="con_password">Confirm Pass</label>
            <input v-model="password" type="password" class="pass-icon" id="con_password" placeholder="Confirm Password"
                minlength="8" required (change)="workingOnConfirmingPassword()">
            <span id="password-matching"><i class="fa fa-exclamation" style="font-style: italic;"></i> Passwords must
                match</span>
            <br>
            <label for="birthday" class="l">Date Of Birth</label>
            <input type="date" id="birthday" name="trip-start" max="2007-12-31" required>
            <br>
            <label for="phone" class="l">Phone</label>
            <input v-model="phone" type="tel" id="phone" name="phone" placeholder="+201096226465" required>
            <br>
            <label for="gender" class="l">Gender</label>
            <select v-model="gender" id="gender" required>
                <option value="NA" selected disabled hidden>Select your gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="NA">Prefer not to say</option>
            </select>
            <br>
            <form id="type">
                <p class="l">System User</p>
                <input type="radio" id="Manager" value="Manager" name="choo" (change)="getSystemUser($event)">
                <label for="Manager">Manager</label> &nbsp;
                <input type="radio" id="Customer" value="Customer" name="choo" checked (change)="getSystemUser($event)">
                <label for="Customer">Customer</label>
            </form>
            <br>
            <button class="form-submit cr" (click)="submit()">Submit</button>
        </form>
    </div>
</body>